.folder
  %h2= "Folder: #{@folder_name}"
  %button.btn.primary{ 'data-controls-modal' => 'add-card', 'data-backdrop' => 'true', 'data-keyboard' => 'true' } Add Card
  .cards
    - (@active_cards + @completed_cards).each do |card|
      = render partial: 'cards/card', locals: { card: CardDecorator.decorate(card) }
    #add-card.modal.fade
      .modal-header
        %a.close{ href: '#' } &times;
        %h3 Add Card
      .modal-body
        = render partial: 'cards/form', locals: { card: @card }
- content_for :javascripts do
  :javascript
    $(function(){
      $('#add-card').addClass('hide');
    });
